# Node dependencies
/node_modules/

# Build output
/build

# Testing
/coverage

# macOS files
.DS_Store

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn Plug’n’Play
/.pnp
.pnp.js
